In [40]:
import csv
import pandas as pd

data = pd.read_csv('/Users/winnergogo/Desktop/DB/bank_withname.csv')
# data
header = list(data.columns.values)
header
data

,name,age,marital,education,balance,housing,loan,duration,y
0,David Meunier,58,married,BS,2143,yes,no,261,no
1,Robbie Joseph,44,single,MS,29,yes,no,151,no
2,Teresa Morgan,33,married,MS,2,yes,yes,76,no
3,Glenn Anderson,47,married,unknown,1506,yes,no,92,no
4,Trent Morales,33,single,unknown,1,no,no,198,no
5,Janet Viernes,35,married,BS,231,yes,no,139,no
6,Adam Puhl,28,single,BS,447,yes,yes,217,no
7,Michael Jones,42,divorced,BS,2,yes,no,380,no
8,Oscar Laird,58,married,PhD,121,yes,no,50,no
9,Robert Kuehn,43,single,MS,593,yes,no,55,no
10,Gerald Waites,41,divorced,MS,270,yes,no,222,no
11,Brenda Mitchell,29,single,MS,390,yes,no,137,no
12,Ivan Brady,53,married,MS,6,yes,no,517,no
13,John Compo,58,married,unknown,71,yes,no,71,no
14,Kevin Gerdes,57,married,MS,162,yes,no,174,no
15,Nicholas Trahan,51,married,PhD,229,yes,no,353,no
16,Gordon Cook,45,single,unknown,13,yes,no,98,no
17,Daniel Voegele,57,married,PhD,52,yes,no,38,no
18,Judy Grier,60,married,PhD,60,yes,no,219,no
19,Alice Kelley,33,married,MS,0,yes,no,54,no
20,Benjamin Shipp,28,married,MS,723,yes,yes,262,no
21,Tina Hadaway,56,married,BS,779,yes,no,164,no
22,Bernard Berry,32,single,PhD,23,yes,yes,160,no
23,Evelyn Covert,25,married,MS,50,yes,no,342,no
24,Nora Nichols,40,married,PhD,0,yes,yes,181,no
25,Barbara Torrez,44,married,MS,-372,yes,no,172,no
26,Edward Casey,39,single,BS,255,yes,no,296,no
27,Carrie May,52,married,MS,113,yes,yes,127,no
28,Sung Turner,46,single,MS,-246,yes,no,255,no
29,Paula Gustin,36,single,MS,265,yes,yes,348,no
...,...,...,...,...,...,...,...,...,...
45181,Mark Charron,46,married,MS,6879,no,no,74,no
45182,Mathew Carter,34,married,MS,133,no,no,401,yes
45183,Mike Sampson,70,married,PhD,324,no,no,78,no
45184,Jon Brooks,63,married,MS,1495,no,no,138,no
45185,Floyd Winters,60,married,BS,4256,yes,no,200,yes
45186,Rey Kamm,59,married,unknown,1500,no,no,280,no
45187,Patricia Landry,32,single,MS,1168,yes,no,411,yes
45188,Carlos Kain,29,single,MS,703,yes,no,236,yes
45189,Brian Bradley,25,single,MS,199,no,no,173,no
45190,Karl Caudill,32,married,MS,136,no,no,206,yes
45191,Cynthia Kilkenny,75,divorced,BS,3810,yes,no,262,yes
45192,Estelle Glover,29,single,BS,765,no,no,238,yes
45193,Gloria Kincaid,28,single,BS,159,no,no,449,yes
45194,Jonathan Hamblin,59,married,BS,138,yes,yes,162,no
45195,James Smuin,68,married,MS,1146,no,no,212,yes
45196,Misty Carroll,25,single,MS,358,no,no,330,yes
45197,Melissa Hobdy,36,single,MS,1511,yes,no,270,yes
45198,Lawrence Soape,37,married,BS,1428,no,no,333,no
45199,Kevin Goldstein,34,single,MS,1475,yes,no,1166,no
45200,Loretta Manalang,38,married,MS,557,yes,no,1556,yes
45201,Dean Prada,53,married,BS,583,no,no,226,yes
45202,Billy Gladney,34,single,MS,557,no,no,224,yes
45203,Diana Pendleton,23,single,BS,113,no,no,266,yes
45204,Ellen Cantave,73,married,MS,2850,no,no,300,yes
45205,William Day,25,single,MS,505,no,yes,386,yes
45206,Abigail Oreilly,51,married,BS,825,no,no,977,yes
45207,Helen Johnson,71,divorced,PhD,1729,no,no,456,yes
45208,Thomas Glanton,72,married,MS,5715,no,no,1127,yes
45209,Christopher Martin,57,married,MS,668,no,no,508,no
45210,Rene Walraven,37,married,MS,2971,no,no,361,no

In [80]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.neighbors import KNeighborsClassifier
train_df = pd.read_csv('/Users/winnergogo/Desktop/DB/bank_withname.csv')  

train_df = train_df.drop(['name'], axis=1)

ages = train_df['age']

train_df['marital'] = train_df['marital'].replace('married',0)
train_df['marital'] = train_df['marital'].replace('single',1)
train_df['marital'] = train_df['marital'].replace('divorced',2)
train_df['marital'] = train_df['marital'].replace('unknown',3)

train_df['education'] = train_df['education'].replace('MS',0)
train_df['education'] = train_df['education'].replace('PhD',1)
train_df['education'] = train_df['education'].replace('BS',2)
train_df['education'] = train_df['education'].replace('unknown',3)

train_df['housing'] = train_df['housing'].replace('no',0)
train_df['housing'] = train_df['housing'].replace('yes',1)
train_df['housing'] = train_df['housing'].replace('unknown',2)

train_df['loan'] = train_df['loan'].replace('no',0)
train_df['loan'] = train_df['loan'].replace('yes',1)
train_df['loan'] = train_df['loan'].replace('unknown',2)


balances = train_df['balance']
durations = train_df['duration']

y_train = train_df['y']
y_train = y_train.replace('no',0)
y_train = y_train.replace('yes',1)

train_df = train_df.drop(['y'], axis=1)

# train_df
# y_train

In [81]:
train_df = train_df.values
# print(train_df)

In [94]:
y_train = y_train.values
# print(y_train)

In [95]:
import keras
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation

model = Sequential()

model.add(Dense(units=16, input_dim=7, 
                activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(units=32, 
                activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(units=256, 
                activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(units=1,
                activation='sigmoid'))
                    
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 16)                128
_________________________________________________________________
dropout_4 (Dropout)          (None, 16)                0
_________________________________________________________________
dense_16 (Dense)             (None, 32)                544
_________________________________________________________________
dropout_5 (Dropout)          (None, 32)                0
_________________________________________________________________
dense_17 (Dense)             (None, 256)               8448
_________________________________________________________________
dropout_6 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_18 (Dense)             (None, 1)                 257
=================================================================
Total params: 9,377
Trainable params: 9,377
Non-trainable params: 0
_________________________________________________________________

In [106]:
model.compile(loss='binary_crossentropy', 
              optimizer='adam', metrics=['accuracy'])

model.fit(train_df, y_train,batch_size=1024, 
         epochs=50,verbose=2,validation_split=0.2)

Train on 36168 samples, validate on 9043 samples
Epoch 1/50
 - 1s - loss: 0.1954 - acc: 0.9344 - val_loss: 0.8829 - val_acc: 0.6868
Epoch 2/50
 - 0s - loss: 0.1950 - acc: 0.9350 - val_loss: 0.9187 - val_acc: 0.6842
Epoch 3/50
 - 0s - loss: 0.1948 - acc: 0.9350 - val_loss: 0.8882 - val_acc: 0.6869
Epoch 4/50
 - 0s - loss: 0.1929 - acc: 0.9351 - val_loss: 0.9008 - val_acc: 0.6842
Epoch 5/50
 - 0s - loss: 0.1918 - acc: 0.9340 - val_loss: 0.9306 - val_acc: 0.6845
Epoch 6/50
 - 0s - loss: 0.1900 - acc: 0.9342 - val_loss: 0.9207 - val_acc: 0.6843
Epoch 7/50
 - 0s - loss: 0.1903 - acc: 0.9350 - val_loss: 0.8651 - val_acc: 0.6890
Epoch 8/50
 - 0s - loss: 0.1904 - acc: 0.9341 - val_loss: 0.8731 - val_acc: 0.6846
Epoch 9/50
 - 0s - loss: 0.1896 - acc: 0.9349 - val_loss: 0.9201 - val_acc: 0.6847
Epoch 10/50
 - 0s - loss: 0.1891 - acc: 0.9347 - val_loss: 0.9275 - val_acc: 0.6843
Epoch 11/50
 - 0s - loss: 0.1898 - acc: 0.9348 - val_loss: 0.8888 - val_acc: 0.6838
Epoch 12/50
 - 0s - loss: 0.1897 - acc: 0.9343 - val_loss: 0.9026 - val_acc: 0.6843
Epoch 13/50
 - 0s - loss: 0.1875 - acc: 0.9357 - val_loss: 0.8912 - val_acc: 0.6844
Epoch 14/50
 - 0s - loss: 0.1882 - acc: 0.9347 - val_loss: 0.8781 - val_acc: 0.6844
Epoch 15/50
 - 0s - loss: 0.1878 - acc: 0.9360 - val_loss: 0.8878 - val_acc: 0.6851
Epoch 16/50
 - 0s - loss: 0.1877 - acc: 0.9357 - val_loss: 0.8660 - val_acc: 0.6843
Epoch 17/50
 - 0s - loss: 0.1881 - acc: 0.9347 - val_loss: 0.8442 - val_acc: 0.6853
Epoch 18/50
 - 0s - loss: 0.1870 - acc: 0.9348 - val_loss: 0.9195 - val_acc: 0.6844
Epoch 19/50
 - 0s - loss: 0.1866 - acc: 0.9342 - val_loss: 0.8477 - val_acc: 0.6849
Epoch 20/50
 - 0s - loss: 0.1865 - acc: 0.9359 - val_loss: 0.9111 - val_acc: 0.6852
Epoch 21/50
 - 0s - loss: 0.1856 - acc: 0.9353 - val_loss: 0.8889 - val_acc: 0.6851
Epoch 22/50
 - 0s - loss: 0.1840 - acc: 0.9354 - val_loss: 0.9014 - val_acc: 0.6874
Epoch 23/50
 - 0s - loss: 0.1846 - acc: 0.9362 - val_loss: 0.9024 - val_acc: 0.6846
Epoch 24/50
 - 0s - loss: 0.1841 - acc: 0.9366 - val_loss: 0.9403 - val_acc: 0.6851
Epoch 25/50
 - 0s - loss: 0.1852 - acc: 0.9352 - val_loss: 0.9028 - val_acc: 0.6842
Epoch 26/50
 - 0s - loss: 0.1845 - acc: 0.9352 - val_loss: 0.8615 - val_acc: 0.6848
Epoch 27/50
 - 0s - loss: 0.1850 - acc: 0.9349 - val_loss: 0.8645 - val_acc: 0.6848
Epoch 28/50
 - 0s - loss: 0.1844 - acc: 0.9357 - val_loss: 0.8815 - val_acc: 0.6858
Epoch 29/50
 - 0s - loss: 0.1842 - acc: 0.9356 - val_loss: 0.9058 - val_acc: 0.6845
Epoch 30/50
 - 0s - loss: 0.1827 - acc: 0.9358 - val_loss: 0.8957 - val_acc: 0.6851
Epoch 31/50
 - 0s - loss: 0.1828 - acc: 0.9359 - val_loss: 0.8543 - val_acc: 0.6855
Epoch 32/50
 - 0s - loss: 0.1841 - acc: 0.9352 - val_loss: 0.8826 - val_acc: 0.6848
Epoch 33/50
 - 0s - loss: 0.1823 - acc: 0.9350 - val_loss: 0.8394 - val_acc: 0.6873
Epoch 34/50
 - 0s - loss: 0.1817 - acc: 0.9361 - val_loss: 0.8890 - val_acc: 0.6847
Epoch 35/50
 - 0s - loss: 0.1826 - acc: 0.9357 - val_loss: 0.8952 - val_acc: 0.6857
Epoch 36/50
 - 0s - loss: 0.1812 - acc: 0.9360 - val_loss: 0.9083 - val_acc: 0.6861
Epoch 37/50
 - 0s - loss: 0.1810 - acc: 0.9353 - val_loss: 0.8902 - val_acc: 0.6895
Epoch 38/50
 - 0s - loss: 0.1806 - acc: 0.9352 - val_loss: 0.8607 - val_acc: 0.6857
Epoch 39/50
 - 0s - loss: 0.1815 - acc: 0.9350 - val_loss: 0.9449 - val_acc: 0.6849
Epoch 40/50
 - 0s - loss: 0.1806 - acc: 0.9360 - val_loss: 0.8761 - val_acc: 0.6854
Epoch 41/50
 - 0s - loss: 0.1799 - acc: 0.9360 - val_loss: 0.9246 - val_acc: 0.6855
Epoch 42/50
 - 0s - loss: 0.1805 - acc: 0.9356 - val_loss: 0.9521 - val_acc: 0.6852
Epoch 43/50
 - 0s - loss: 0.1803 - acc: 0.9365 - val_loss: 0.9477 - val_acc: 0.6842
Epoch 44/50
 - 0s - loss: 0.1785 - acc: 0.9350 - val_loss: 0.8846 - val_acc: 0.6844
Epoch 45/50
 - 0s - loss: 0.1777 - acc: 0.9360 - val_loss: 0.8897 - val_acc: 0.6909
Epoch 46/50
 - 0s - loss: 0.1787 - acc: 0.9355 - val_loss: 0.9366 - val_acc: 0.6848
Epoch 47/50
 - 0s - loss: 0.1773 - acc: 0.9353 - val_loss: 0.9352 - val_acc: 0.6848
Epoch 48/50
 - 0s - loss: 0.1780 - acc: 0.9358 - val_loss: 0.8590 - val_acc: 0.6849
Epoch 49/50
 - 0s - loss: 0.1765 - acc: 0.9359 - val_loss: 0.9173 - val_acc: 0.6858
Epoch 50/50
 - 0s - loss: 0.1760 - acc: 0.9356 - val_loss: 0.8820 - val_acc: 0.6842

In [107]:
scores = model.evaluate(x=train_df, 
                        y=y_train)
scores[1]

45211/45211 [==============================] - 1s 26us/step

0.88319214350621766

In [108]:
import numpy as np
x_test = [[72,0,0,5715,0,0,1127]]
x_test = np.array(x_test)

# for i in range(len(train_df)):
#     temp = np.reshape(train_df[i],(1,7))
#     prediction_probility = model.predict(temp)
#     # predicted = model.predict(x_test)

#     if prediction_probility > 0.5:
#         print(i,1)

prediction_probility = model.predict(x_test)
prediction_probility

array([[ 0.36125985]], dtype=float32)

In [111]:
import numpy as np
from keras.models import load_model
import csv
import pandas as pd
import keras
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
import numpy as np

model = load_model('/Users/winnergogo/Desktop/DB/KHdjango/KH_project/KHtest/my_model.h5')

# person = [[92, 0, 3, 775, 0, 0, 313]]
# person = np.array(person)
# prediction_probility = model.predict(person)
# prediction_probility

for i in range(len(train_df)):
    temp = np.reshape(train_df[i],(1,7))
    prediction_probility = model.predict(temp)
    # predicted = model.predict(x_test)

    if prediction_probility > 0.5:
        print(temp,1)

[[  53    0    0   -3    0    0 1666]] 1
[[  54    0    0  529    1    0 1492]] 1
[[  46    0    1  179    1    0 1778]] 1
[[  56    0    0   45    0    0 1467]] 1
[[  41    0    0 1270    1    0 1389]] 1
[[  40    0    2   -4    1    0 2033]] 1
[[  43    2    3  205    1    0 1419]] 1
[[   39     1     3 45248     1     0  1623]] 1
[[  34    0    0  869    0    0 1677]] 1
[[  38    0    0  384    1    0 1906]] 1
[[  36    0    0  368    1    1 1597]] 1
[[  44    0    2  105    1    0 1529]] 1
[[  38    0    0  376    1    0 1521]] 1
[[  36    0    2  301    1    0 1581]] 1
[[  41    1    0  277    1    0 2177]] 1
[[  30    0    0  309    1    0 1574]] 1
[[  29    0    2  199    1    1 1689]] 1
[[  43    2    2  388    1    0 2087]] 1
[[  41    0    1  406    1    0 2462]] 1
[[  40    0    0   10    1    0 1692]] 1
[[  28    1    0 -197    1    0 2016]] 1
[[  27    0    0 1033    1    0 1713]] 1
[[  35    1    2 -202    1    0 1461]] 1
[[  31    0    2  713    1    0 1534]] 1
[[  33    1    2 1011    1    0 1495]] 1
[[  34    0    0  247    1    1 1727]] 1
[[  38    0    2  551    1    0 1875]] 1
[[  33    2    0    5    1    0 1346]] 1
[[  40    0    0 2172    1    1 1386]] 1
[[  45    0    0   66    1    0 3366]] 1
[[  34    2    0  383    1    0 2231]] 1
[[  43    0    0 3285    1    0 1721]] 1
[[  41    1    1 1618    1    0 1553]] 1
[[  39    2    2  517    1    1 1328]] 1
[[  43    1    0   28    1    0 2241]] 1
[[  41    2    0 5291    1    0 1423]] 1
[[  53    0    0 2925    1    0 1392]] 1
[[  42    1    0 1364    1    0 1867]] 1
[[  50    2    0  363    1    0 1340]] 1
[[  35    0    1  767    1    0 1408]] 1
[[  37    2    2  122    1    0 1622]] 1
[[  34    0    1  183    1    0 3078]] 1
[[  29    1    0  271    1    0 1882]] 1
[[  35    0    1  102    1    0 1334]] 1
[[  35    0    0 4170    1    0 1777]] 1
[[  38    0    1  666    1    0 1452]] 1
[[  39    1    0 4286    1    0 1376]] 1
[[  39    1    0 1022    1    0 1410]] 1
[[  33    0    2  876    0    0 1287]] 1
[[  41    0    1 1250    1    0 1392]] 1
[[  38    0    2  216    1    0 1307]] 1
[[  34    0    1 4499    0    0 1681]] 1
[[  34    0    0  603    1    1 1409]] 1
[[  30    1    2 1289    1    0 1697]] 1
[[  35    0    1  994    1    0 1349]] 1
[[  31    0    1 1074    1    0 1438]] 1
[[  31    0    0 2910    1    0 1392]] 1
[[  28    1    2    0    1    0 1560]] 1
[[  31    2    2 1145    1    0 1272]] 1
[[  30    0    0  129    1    0 1446]] 1
[[  44    2    0   51    1    1 3094]] 1
[[  26    1    2 6840    1    0 1560]] 1
[[  28    1    0  949    1    0 1730]] 1
[[  24    1    2 1385    1    0 1277]] 1
[[  35    0    2 1550    1    0 1611]] 1
[[  38    2    2 4692    1    0 1363]] 1
[[  35    1    0 1253    0    0 2260]] 1
[[  29    1    2  121    1    0 1500]] 1
[[  53    2    1 2656    1    0 1980]] 1
[[  36    0    2    0    1    0 1576]] 1
[[  47    2    1  126    1    0 2456]] 1
[[  35    0    0  -87    1    0 1363]] 1
[[  30    1    0 3107    1    0 1516]] 1
[[  32    1    2 6281    1    0 1336]] 1
[[  23    1    1  145    1    0 1519]] 1
[[  30    0    2  543    1    1 1449]] 1
[[  47    0    0    0    0    0 1446]] 1
[[  56    2    1 1238    0    0 1558]] 1
[[  35    0    0  188    1    1 1865]] 1
[[  29    1    0  778    1    0 1994]] 1
[[  56    2    2 2774    0    0 1288]] 1
[[  29    1    1  213    1    0 2653]] 1
[[  29    0    0   87    1    0 1330]] 1
[[  36    0    0 1245    1    0 1469]] 1
[[  59    0    0 1321    0    0 3881]] 1
[[  40    1    2 1248    0    0 1290]] 1
[[  38    0    0 1627    0    0 1323]] 1
[[  36    2    0  638    1    0 1395]] 1
[[  36    0    2 3057    0    0 2769]] 1
[[  38    1    2 3316    0    0 1345]] 1
[[  60    0    2 3301    0    0 2621]] 1
[[  40    0    0  265    0    0 1365]] 1
[[  27    0    0  -97    1    0 1528]] 1
[[  45    1    0    0    0    0 1487]] 1
[[   41     1     2 11008     0     0  1540]] 1
[[  56    0    3  616    0    0 1812]] 1
[[  44    1    1 1059    0    0 2093]] 1
[[  41    0    1  219    0    1 1574]] 1
[[  45    0    2 3626    0    0 2485]] 1
[[  53    0    0 1319    0    0 1318]] 1
[[  36    0    2 1352    0    0 2028]] 1
[[  57    0    0  789    0    0 2635]] 1
[[  58    0    3 2445    0    0 1403]] 1
[[  60    0    0 1690    0    0 1467]] 1
[[  42    0    2 -215    0    0 1573]] 1
[[  29    1    0  908    1    0 1663]] 1
[[  57    0    2  -92    1    1 1617]] 1
[[  36    1    1  207    0    0 1478]] 1
[[  38    1    2 2885    1    0 1422]] 1
[[  38    2    3 6360    0    0 1409]] 1
[[  28    1    0   -7    0    1 3183]] 1
[[  26    2    2  -70    0    1 1992]] 1
[[  29    1    1  339    0    0 1576]] 1
[[  60    0    1  -63    1    0 1434]] 1
[[  34    2    0  368    0    1 2201]] 1
[[  26    2    2  278    1    1 1467]] 1
[[  28    0    0  510    1    1 1767]] 1
[[  40    0    2 2840    1    0 1720]] 1
[[  52    0    3    0    1    0 1486]] 1
[[  49    0    1    3    0    1 1439]] 1
[[  30    1    0  155    1    1 1426]] 1
[[  25    1    0 1243    0    1 1341]] 1
[[  54    0    0 -315    0    1 2029]] 1
[[  25    1    1 2483    0    0 1499]] 1
[[  30    0    0    0    1    1 1399]] 1
[[  55    2    0  204    1    0 1973]] 1
[[  32    0    2 1660    1    0 1389]] 1
[[  35    0    0 -203    1    0 1649]] 1
[[  53    2    3  257    0    0 1310]] 1
[[  35    0    0 2436    0    1 1397]] 1
[[  44    2    0  163    1    0 1669]] 1
[[  28    2    0  -76    0    1 1271]] 1
[[  51    2    0  242    0    1 1336]] 1
[[  25    0    0    0    0    1 1424]] 1
[[  25    1    0  377    0    0 1412]] 1
[[  29    1    3  694    1    1 1806]] 1
[[  59    0    2 2540    0    0 1432]] 1
[[  35    0    2   36    0    1 1656]] 1
[[  34    0    1  425    1    0 1389]] 1
[[  25    1    0  195    0    0 1339]] 1
[[  38    0    0    0    0    1 1473]] 1
[[  33    2    0 1904    1    0 1584]] 1
[[  33    0    0    0    1    0 1448]] 1
[[  40    0    2  355    1    0 1390]] 1
[[  29    0    2   51    1    0 1319]] 1
[[  34    0    1 1188    1    0 1503]] 1
[[  36    0    2  625    1    0 1360]] 1
[[  32    2    0  -46    0    1 1373]] 1
[[  41    1    0 4464    1    0 1425]] 1
[[  56    0    1  486    0    1 1877]] 1
[[  40    1    0  664    0    0 1342]] 1
[[  34    1    0  -30    0    0 1360]] 1
[[  47    0    0  290    1    0 1352]] 1
[[  38    0    0    0    1    0 1545]] 1
[[  41    1    2  145    0    0 1833]] 1
[[  41    2    3  465    1    0 1508]] 1
[[  34    2    0 2551    1    1 1408]] 1
[[  27    0    0    0    1    0 1608]] 1
[[  55    2    2 -458    1    0 1331]] 1
[[  50    0    2 -168    1    0 1327]] 1
[[  32    1    0  799    0    1 2078]] 1
[[  33    1    2  395    1    0 1359]] 1
[[  55    2    0 -268    0    1 1417]] 1
[[  38    0    0  593    1    1 1484]] 1
[[  31    0    2 1224    1    1 1441]] 1
[[  33    2    2  990    1    0 1491]] 1
[[  58    0    0 5567    0    0 1869]] 1
[[  29    1    0  223    0    0 1259]] 1
[[  45    0    2 1034    0    1 1820]] 1
[[  28    1    2  497    1    0 1602]] 1
[[  54    0    0 1371    0    0 1492]] 1
[[  28    1    2 1628    1    0 1422]] 1
[[  51    0    1 1495    0    0 1946]] 1
[[  51    0    1 1162    1    0 2015]] 1
[[  59    2    1    0    0    1 1368]] 1
[[  57    2    1   63    0    1 1448]] 1
[[  53    0    1  994    0    1 1339]] 1
[[  42    1    0 7547    0    0 1569]] 1
[[  42    1    2 2625    0    0 2516]] 1
[[  50    0    2  398    0    0 1567]] 1
[[  36    0    1   78    1    0 2692]] 1
[[  40    1    2 7441    0    0 1461]] 1
[[  47    1    2 1187    0    0 1739]] 1
[[  58    0    1 1183    0    0 1721]] 1
[[  52    0    2 7192    0    0 1486]] 1
[[  43    0    2    0    0    0 1488]] 1
[[  58    2    2 1257    0    0 1536]] 1
[[  38    0    2  202    0    0 1311]] 1
[[  57    2    2  734    0    0 1357]] 1
[[  60    0    1 2221    0    0 2191]] 1
[[  32    0    2 1423    0    0 1249]] 1
[[  51    0    1 7098    0    0 1471]] 1
[[  30    1    2 5389    0    0 1456]] 1
[[  39    0    2 1572    0    0 1462]] 1
[[  50    0    0  684    1    0 1834]] 1
[[  32    1    2 4291    0    0 1321]] 1
[[  37    0    2  359    0    1 3422]] 1
[[  59    0    1  927    0    0 1934]] 1
[[  37    1    0  980    0    0 1306]] 1
[[  38    1    0 9609    1    0 1687]] 1
[[  31    1    0  433    0    0 1504]] 1
[[  32    2    2  874    0    0 1282]] 1
[[  55    0    2  134    0    0 1650]] 1
[[  31    1    2  208    0    0 1344]] 1
[[  34    0    2  520    1    0 1307]] 1
[[  39    0    2  271    1    0 1344]] 1
[[  47    0    0  568    1    0 1613]] 1
[[  44    1    0  244    1    0 1735]] 1
[[  41    1    2  416    1    0 1476]] 1

[[  40    0    0   42    0    0 1842]] 1
[[  35    2    2  434    1    0 1314]] 1
[[  43    0    2  423    0    0 3322]] 1
[[  33    1    2 6748    0    0 1579]] 1
[[  32    1    0 1732    1    0 1871]] 1
[[  31    2    2  254    0    0 1576]] 1
[[  60    0    1 1043    0    0 1364]] 1
[[  49    0    1  418    0    0 1559]] 1
[[  40    1    2  171    0    0 1241]] 1
[[  37    1    0  228    1    0 1740]] 1
[[  53    0    2  988    0    0 1408]] 1
[[  40    0    0 -432    1    1 1464]] 1
[[  34    1    0  666    0    0 1503]] 1
[[  30    1    2 -477    0    1 1532]] 1
[[  34    1    2  462    0    0 1877]] 1
[[  55    0    3  890    0    0 1329]] 1
[[  30    0    2  296    0    0 1809]] 1
[[  34    0    0 1035    0    0 1374]] 1
[[  36    2    0   54    1    0 1642]] 1
[[  53    0    1 5603    0    0 2372]] 1
[[  36    1    2 -103    1    1 3253]] 1
[[  48    1    3 1279    0    0 2429]] 1
[[  30    0    0 1664    1    0 2016]] 1
[[  30    0    0 1310    0    0 3284]] 1
[[  59    0    2 6573    1    0 4918]] 1
[[  37    0    0 5447    1    1 1789]] 1
[[  50    1    0 2668    0    0 1606]] 1
[[  58    2    0 -370    0    0 1449]] 1
[[  58    0    2 1831    0    0 1531]] 1
[[  45    0    0 2278    0    0 1735]] 1
[[  31    1    0   19    1    0 1978]] 1
[[  46    0    0    0    0    0 1855]] 1
[[  58    2    2 5037    1    0 1437]] 1
[[  31    0    2 3564    0    0 1377]] 1
[[  48    0    2 1175    1    0 1476]] 1
[[  35    2    2  859    1    1 1554]] 1
[[  52    2    1 3990    0    0 1548]] 1
[[  34    2    2    0    1    0 1283]] 1
[[  32    0    0  264    1    1 1502]] 1
[[  36    0    0 1207    1    0 1792]] 1
[[  42    1    2 3445    0    0 1662]] 1
[[  43    2    0  347    0    0 1468]] 1
[[  39    2    2 1315    1    0 1337]] 1
[[  33    1    2  923    1    0 1307]] 1
[[  33    0    2  621    0    0 1435]] 1
[[  32    0    0  254    1    0 1720]] 1
[[  40    0    2  542    1    0 1816]] 1
[[  32    1    0 5806    1    0 1503]] 1
[[  43    0    2 4333    1    0 1490]] 1
[[   31     1     2 13711     1     0  1532]] 1
[[  31    0    0  314    1    0 1341]] 1
[[  41    1    0  650    1    0 2420]] 1
[[   39     1     0 18508     0     0  1598]] 1
[[  30    1    1    0    1    0 1329]] 1
[[  47    0    2 2475    1    0 1476]] 1
[[  40    0    0 3430    1    0 1855]] 1
[[  43    0    1 3064    1    0 2453]] 1
[[  30    1    2 3300    0    0 1571]] 1
[[  35    0    1 3285    0    0 1555]] 1
[[  46    0    0 1167    1    0 1540]] 1
[[  35    1    0 1732    0    0 1441]] 1
[[  37    1    0 1097    1    0 1555]] 1
[[  31    1    2 1899    0    0 1914]] 1
[[  26    1    2  814    0    0 1387]] 1
[[  45    0    2   47    1    0 1972]] 1
[[  53    0    2    0    0    0 1745]] 1
[[  37    2    0   51    0    1 2150]] 1
[[  26    1    0  622    0    0 1451]] 1
[[  37    0    0   86    0    0 1424]] 1
[[  37    1    0  443    0    0 1600]] 1
[[  40    1    2 1361    0    0 1473]] 1
[[  49    0    1  518    0    0 1917]] 1
[[  60    0    2  -71    1    1 1451]] 1
[[  41    1    0 3234    1    0 2770]] 1
[[  53    0    1  901    0    1 1431]] 1
[[  59    0    1    0    0    0 3025]] 1
[[  31    2    0  217    1    0 1776]] 1
[[  48    1    1 8990    0    0 1790]] 1
[[  39    0    0   52    0    0 1420]] 1
[[  48    1    1  623    1    0 1425]] 1
[[  39    0    2  588    1    1 2256]] 1
[[  48    1    0  -92    1    0 1393]] 1
[[  54    0    2 1303    0    0 1635]] 1
[[  53    0    1  751    1    0 1528]] 1
[[  30    1    0  732    0    0 1404]] 1
[[  40    0    2 1308    0    0 1776]] 1
[[  40    0    1  -78    0    0 2053]] 1
[[  30    1    2 1028    0    0 1294]] 1
[[  57    0    0 4391    0    0 1416]] 1
[[  32    1    0  678    1    0 1579]] 1
[[  38    0    2 4383    0    0 1381]] 1
[[  29    0    0  273    0    0 2775]] 1
[[  26    1    2  725    0    0 1916]] 1
[[  60    1    2  361    0    0 1837]] 1
[[  58    0    0    0    1    0 1823]] 1
[[  40    0    1 1908    1    0 1661]] 1
[[  44    2    2    0    0    0 1960]] 1
[[  60    2    0  -41    1    1 1658]] 1
[[  48    0    2    0    0    1 1423]] 1
[[  53    0    0  849    1    0 3102]] 1
[[  31    1    2 1815    0    0 1541]] 1
[[  49    0    0  320    0    0 1971]] 1
[[   61     0     2 32685     0     0  1447]] 1
[[  44    0    2  423    0    0 2330]] 1
[[  47    0    0  238    1    1 3076]] 1
[[  45    0    2  753    1    0 2870]] 1
[[  36    0    0 2454    1    0 1859]] 1
[[  37    0    0 1207    1    0 1353]] 1
[[  35    1    2  458    1    0 2129]] 1
[[  27    0    0 1293    1    0 1665]] 1
[[  38    1    0 2580    1    0 1691]] 1
[[  44    2    0    0    0    0 1594]] 1
[[  39    0    0 -145    1    0 1372]] 1
[[  35    0    0  545    1    0 1579]] 1
[[  49    0    0 2416    1    0 1366]] 1
[[  54    0    0    0    0    0 1366]] 1
[[  42    0    0 1598    1    1 1463]] 1
[[  32    0    0 1273    1    0 1365]] 1
[[  53    0    1  241    1    0 1410]] 1
[[  36    0    0  351    1    0 1554]] 1
[[  39    0    0  284    1    1 1426]] 1
[[  30    1    0  103    1    0 2053]] 1
[[  34    0    0  241    1    0 1364]] 1
[[  40    0    1  284    1    0 1332]] 1
[[  46    0    1 3229    1    0 1550]] 1
[[  64    0    0  571    1    0 1422]] 1
[[  33    0    0 1968    1    0 1817]] 1
[[  39    0    3  621    1    0 1333]] 1
[[  63    0    3 2193    0    0 1348]] 1
[[  33    0    2 2599    0    0 1373]] 1
[[  35    0    2  991    1    0 1489]] 1
[[  31    1    2   59    1    1 1347]] 1
[[  31    0    0 -414    1    0 1369]] 1
[[  33    1    0  381    1    0 1957]] 1
[[  34    0    0   48    1    0 1806]] 1
[[  23    0    2   66    1    0 1391]] 1
[[  49    1    1 2146    1    0 1516]] 1
[[  53    1    2  185    1    0 1448]] 1
[[  43    2    2  580    1    0 1514]] 1
[[  37    1    0  133    1    0 1388]] 1
[[  38    1    0  895    1    0 1531]] 1
[[  37    1    2 1894    1    0 1925]] 1
[[  38    1    2 3646    1    0 1710]] 1
[[  46    0    0  404    1    0 1388]] 1
[[  36    0    1  828    0    0 1512]] 1
[[  36    1    1 1959    1    0 1966]] 1
[[  59    0    0 2965    1    0 1970]] 1
[[  39    1    1    0    1    1 1975]] 1
[[  42    1    0 -193    1    0 1805]] 1
[[  35    1    3  597    1    0 1309]] 1
[[  36    2    2 1354    1    0 1723]] 1
[[  27    1    0  218    1    0 1462]] 1
[[  34    0    0 2139    1    0 1452]] 1
[[  22    1    0 4038    1    0 1380]] 1
[[  36    1    0  148    1    0 1357]] 1
[[  34    2    0   89    1    0 1871]] 1
[[  42    0    1  686    1    0 1326]] 1
[[  32    1    2 6542    1    0 1598]] 1
[[  29    1    0  706    1    0 1340]] 1
[[  28    1    0 2290    1    0 2301]] 1
[[  29    0    2  318    1    0 1434]] 1
[[  35    1    0  719    1    0 1359]] 1
[[  38    2    0  710    1    0 1880]] 1
[[  60    0    2  846    0    0 1346]] 1
[[  51    0    0 2239    0    0 1576]] 1
[[  49    0    0    0    0    0 1460]] 1
[[  33    1    2 1268    1    0 2219]] 1
[[  58    0    2 2261    1    0 1361]] 1
[[  49    0    0  905    0    0 1543]] 1
[[  38    1    2  605    0    0 1603]] 1
[[  52    1    2   37    0    0 1284]] 1
[[  53    2    0    0    1    1 1452]] 1
[[  46    0    0 4855    1    0 1529]] 1
[[  50    2    3 2794    0    0 1336]] 1
[[  89    0    2  553    0    0 2027]] 1
[[  69    2    0 6850    0    0 2055]] 1
[[  46    0    2  273    1    0 1962]] 1
[[  40    0    2 1293    0    0 1702]] 1
[[  59    0    2  883    0    0 1551]] 1
[[  65    2    2 2756    0    0 1353]] 1
[[  60    0    0  197    0    0 1386]] 1
[[  43    0    2 1188    0    0 1573]] 1
[[  69    0    0    0    0    0 1580]] 1
[[  60    0    0    0    0    0 1745]] 1
[[   63     0     1 12067     0     0  2187]] 1
[[  51    1    0    0    0    0 1707]] 1
[[  63    0    2 5112    0    0 2184]] 1
[[  58    0    0 3399    0    0 1628]] 1
[[  39    0    0  323    0    0 1804]] 1
[[  68    0    0 1443    0    0 2062]] 1
[[  28    1    2 1840    0    0 1472]] 1
[[  35    0    0  978    0    0 1370]] 1
[[  30    1    2  720    0    0 1265]] 1
[[  77    0    0 4112    0    0 1616]] 1
[[  35    1    2  992    1    0 1416]] 1
[[  38    0    0  775    0    0 1835]] 1
[[  59    0    0 7766    1    0 1422]] 1
[[  45    1    0    0    1    0 1472]] 1
[[  57    2    3 2986    0    0 1563]] 1
[[  50    1    2    2    0    0 2389]] 1
[[  30    2    0  436    1    0 1720]] 1
[[  30    1    0  315    0    0 1407]] 1

[[   41     0     0 14968     0     0  1360]] 1
[[  57    2    0 1088    0    0 1697]] 1
[[  24    1    0 1925    0    0 1363]] 1
[[  45    1    0  955    0    0 3785]] 1
[[  48    1    3 1819    0    0 1440]] 1
[[  28    1    0  127    0    0 1334]] 1
[[  24    1    2  393    0    0 1298]] 1
[[  34    1    2  549    0    0 1246]] 1
[[  40    0    2    0    0    0 1410]] 1
[[  38    0    0  557    1    0 1556]] 1